.App {
  text-align: center;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

img{
  width: 80%;
  background-color: white;
 
  }
#rentalDetailsImage{
  width: 30%;
}

.navbar{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 15px;
  font-style:normal;
  font-weight: 400;
  justify-content:space-between;
  line-height: 24px;
  margin-left: 279px;
  margin-right:600px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;

}

.home-logo{
border-bottom-style: none;
border-left-style: none;
border-right-style: none;
border-top-style: none;
box-sizing: border-box;
cursor: pointer;
display: inline;
height: 60px;
line-height: 30px;
max-width: 170px;
vertical-align: top;
text-size-adjust: 100%;

}

.nav-logo{
margin-top: 10px;
}



button{
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
